<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="padded">
        <h2>List of Cocktails</h2>
      </div>
    </div>
  </div>

  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <div class="card-img">
              <%= image_tag "https://unsplash.it/200", {class: "card-img"}%>
            </div>
            <div class="card-link">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="padded">
        <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
